In [2]:
import sys
sys.path.append("../")

from CurveDataFetcher import CurveDataFetcher 
# from HedgeHog import beta_estimates, _run_pcr

from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
import statsmodels.api as sm

import scipy.interpolate
import os
from dotenv import dotenv_values
env_path = os.path.join(os.getcwd(), "../.env")
print(env_path)
config = dotenv_values(env_path)

import nest_asyncio
nest_asyncio.apply()

import matplotlib.pylab as pylab
params = {
    "legend.fontsize": "x-large",
    "axes.labelsize": "x-large",
    "axes.titlesize": "x-large",
    "xtick.labelsize": "x-large",
    "ytick.labelsize": "x-large",
}
pylab.rcParams.update(params)
sns.set(style="whitegrid", palette="dark")
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.filterwarnings('ignore', category=pd.errors.SettingWithCopyWarning)

%load_ext autoreload
%autoreload 2

c:\Users\chris\Curvy-CUSIPs\notebooks\../.env
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
curve_data_fetcher = CurveDataFetcher(use_ust_issue_date=True, fred_api_key=config["FRED_API_KEY"])

In [6]:
start_date = datetime(2023, 1, 1)
end_date = datetime(2024, 11, 1)

In [7]:
ct_yields_df = curve_data_fetcher.fedinvest_data_fetcher.get_historical_ct_yields(start_date=start_date, end_date=end_date)
ct_yields_df

,Date,CT1M,CT2M,CT3M,CT4M,CT6M,CT1,CT2,CT3,CT5,CT7,CT10,CT20,CT30
0,2023-01-03,NaN,NaN,NaN,4.684165,4.781151,4.722890,4.399092,4.192135,3.937598,3.885265,3.787320,4.057251,3.884048
1,2023-01-04,NaN,NaN,NaN,4.662971,4.749067,4.711754,4.365910,4.123733,3.854067,3.787677,3.693511,3.967547,3.809364
2,2023-01-05,NaN,NaN,NaN,4.725342,4.819400,4.787549,4.449214,4.192343,3.902711,3.823493,3.712084,3.960694,3.785325
3,2023-01-06,NaN,NaN,NaN,4.693085,4.786811,4.721529,4.249257,3.975516,3.694481,3.634544,3.552079,3.843300,3.672193
4,2023-01-09,NaN,NaN,NaN,4.682341,4.807567,4.699546,4.199130,3.941264,3.666756,3.598982,3.529844,3.825433,3.663856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,2024-10-28,5.074871,4.854431,4.722041,4.695843,4.520863,4.319365,4.147810,4.089004,4.107998,4.191195,4.275476,4.619218,4.525847
454,2024-10-29,5.022199,4.834865,4.722382,4.684820,4.510103,4.297572,4.131378,4.077761,4.108280,4.186014,4.275562,4.621788,4.521890
455,2024-10-30,5.029162,4.836174,4.690648,4.663451,4.509967,4.297393,4.166753,4.134788,4.144598,4.207628,4.279664,4.606647,4.492268
456,2024-10-31,4.971112,4.816193,4.667348,4.652794,4.454048,4.280737,4.157737,4.123550,4.145873,4.213407,4.271721,4.581471,4.464803
457,2024-11-01,4.975981,4.788651,4.636163,4.631572,4.443073,4.290999,4.207214,4.181211,4.215932,4.297247,4.368829,4.683117,4.563782

In [14]:
from utils.QL_BondPricer import QL_BondPricer

In [26]:
settle = datetime(2024, 11, 5)
mat = datetime(2025, 2, 13)
price = 98.775

QL_BondPricer._bill_price_to_ytm(maturity_date=mat, as_of=settle, price=price)

4.52670210073397